<header class="header">

    <div class="header-container">

        <a routerLink="/products" class="logo">
            ShopSphere
        </a>

        <nav class="navigation">
            @for(item of navItems; track $index){
            <a 
                [routerLink]="item.route" 
                routerLinkActive="active">
                {{item?.label}}
            </a>
            }
        </nav>

        <a routerLink="/login" class="login-button">
            Login
        </a>

    </div>

</header>